.extra_care_section {
    background-color: #f4f4f6;
    padding: 50px 20px 100px 10px;
}
.extra_care_div {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.teacher_side_colam{
    background-color: #4285f4;
    height: 100vh;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.teaches_panel_title{
    color: rgb(15, 37, 111);
}
.teacher_profile_img{
    border-radius: 50%;
    width: 100px;
}
.teacher_logout_btn{
    color: #ffee00;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border: #ffee00 solid 1px;
    width: 150px;
    text-align: center;
}
.logout_icons{
    display: inline;
    font-weight: bold;
}
.care_student_title{
    color: #4285f4;
}
.care_view_btn{
    background-color: rgb(255, 155, 23);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
}
.care_icons{
    color: rgb(41, 177, 41);
}
.teachers_home_title {
    font-size: calc( 1em + 7vmin );
    font-weight: 900;
    color: rgb(255, 102, 0);
    
    --x-offset: -0.0825em;
    --y-offset: 0.0825em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: lightblue;
    
    text-shadow: 
      
      var(--x-offset)
      var(--y-offset)
      0px
      var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) )
      calc( var(--y-offset) + var(--stroke) )
      0px
      var(--stroke-color);
    
  }
.individual_care_section{
    background-color: #f4f4f6;
    padding: 50px 20px 80px 20px;
}
.individual_care_div{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 80%;
    padding: 30px 0px 20px 30px;
    border-radius: 10px;
}
.accept_btn{
    background-color: rgb(41, 177, 41);
    color: white;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
}
.reject_btn{
    background-color: rgb(255, 153, 0);
    color: white;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
}
  @supports ( text-shadow: 1px 1px 1px 1px black ) {
    .teachers_home_title {
      text-shadow:
        
        var(--x-offset)
        var(--y-offset)
        0px
        0px
        var(--background-color), 
        
        var(--x-offset) 
        var(--y-offset)
        var(--stroke)
        0px
        var(--stroke-color);
      
    }
  }