.extra_care_section{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.extra_care_div{
    border: 2px solid tomato;
    border-radius: 15px;
}
.teacher_side_colam{
    height: 100vh;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.register_btn{
    width: 80%;
}